<h1>Hakkımızda</h1>

<p>HMK Satış Destekleme Ürünleri A.Ş. olarak % 100 Türk sermayesi ile evrensel kalite standartlarında ürün ve hizmetler sunmak üzere 2010 yılında faaliyetlerimize başladık. Temel değerlerimiz olan iş ahlakı, dürüstlük ve kaliteden taviz vermeden, pazar standartlarını belirleyen ve tercih edilen bir iş ortağı olmayı esas hedefimiz olarak belirledik.
Farklı müşteri ve ihtiyaçlara uygun çözümlerle, katma değer yaratarak, beklentilere kalite ve istikrarla karşılık vermek, doğaya saygılı, çevreci düşünmek işimizde bakış açımızın temelini oluşturmaktadır. Satış sonrası destek ise kalite anlayışımızın ayrılmaz bir parçasıdır.
Ürün çeşitliliğinin oluşturulmasında, satış artışı, farkındalık yaratma, marka güçlendirme, ürün kategori yönetimi, işgücü verimliliğini artırma, görsel mağazacılık ihtiyaçlarının karşılanması ve katkı sağlanması temel felsefemiz olmuştur.
Süpermarket, yapı market, hazır giyim, teknoloji market, eczane, banka, ofis sektörlerindeki gelişmeleri yakından takip ederek değişen pazar dinamikleri ve yeni oluşacak ihtiyaçlara göre hazır olmaya gayret göstermekteyiz.
Dünyanın önde gelen şirketleri ile geliştirdiğimiz işbirlikleri sonucunda ürün ve hizmetlerin çeşitliliğini arttırarak müşterilerimize her anlamda tatmin edici bir hizmet sunmak yolundaki çalışmalarımıza bugün olduğu gibi gelecekte de devam edeceğiz.
Bizler, sizin için sadece ihtiyaçlarınızı karşılayan bir tedarikçi değil, ihtiyacınıza en uygun ürünü geliştiren çözüm ortağı olmayı arzu ediyoruz…</p>
