<h1>İletişim</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.13639894548!2d29.00464911541523!3d41.044146179297286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sWissen+Akademie!5e0!3m2!1str!2str!4v1479461278348" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<br />
<p>Wissen Akademie</p> <br />
<p>Bahçeşehir Uğur Eğitim Kurumları & GFN Almanya</p> <br />
<p>Barbaros Bulvarı Yıldız İş Hanı No :9 Kat :3 34353 Beşiktaş - İstanbul</p> <br />
<p>Tel: 0212 381 50 00</p> <br />
<p>Fax: 0212 381 50 10</p> <br />
<p>E-Mail: info@wissenakademie.com</p>
