
@{
    ViewBag.Title = "TelevizyonListe";
}

<h2>UrunListe</h2>

<div class="col-md-9">

    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress1home" src="/Content/img/products/dress1home.jpg"></a>
                <div class="name">
                    <a href="">Elegant Dress</a>
                </div>
                <div class="price">
                    <p>$200.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dres2" src="/Content/img/products/dress5home.jpg"></a>
                <div class="name">
                    <a href="">Lace Dress</a>
                </div>
                <div class="price">
                    <p>$250.00</p>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress3" src="/Content/img/products/dress6home.jpg"></a>
                <div class="name">
                    <a href="">Floral Dress</a>
                </div>
                <div class="price">
                    <p>$500.00</p>
                </div>
            </div>
        </div>

        <!--
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress4" src="/Content/img/products/dress2home.jpg"></a>
                <div class="name">
                <a href="">Black Dress</a>
                </div>
                <div class="price">
                <p>$150.00</p>
                </div>

            </div>
        </div>	-->

    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress5" src="/Content/img/products/dress3home.jpg"></a>
                <div class="name">
                    <a href="">Midi Dress</a>
                </div>
                <div class="price">
                    <p>$50.00</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress6" src="/Content/img/products/dress4home.jpg"></a>
                <div class="name">
                    <a href="">White Dress</a>
                </div>
                <div class="price">
                    <p>$120.00</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <div class="product_sale">-30%</div>
                <a href="product.html"><img alt="dress7" src="/Content/img/products/dress7home.jpg"></a>
                <div class="name">
                    <a href="">Red Dress</a>
                </div>
                <div class="price">
                    <p>$20.00</p>
                </div>

            </div>
        </div>

        <!--
            <div class="col-md-4">
                <div class="product">
                    <a href="product.html"><img alt="dress8" src="/Content/img/products/dress8home.jpg"></a>
                    <div class="name">
                    <a href="">Evening Dress</a>
                    </div>
                    <div class="price">
                    <p>$670.00</p>
                    </div>
                </div>
            </div>
        -->
    </div>



    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <div class="product_sale">Sale</div>
                <a href="product.html"><img alt="dress1home" src="/Content/img/products/dress1home.jpg"></a>
                <div class="name">
                    <a href="">Elegant Dress</a>
                </div>
                <div class="price">
                    <p>$200.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dres2" src="/Content/img/products/dress5home.jpg"></a>
                <div class="name">
                    <a href="">Lace Dress</a>
                </div>
                <div class="price">
                    <p>$250.00</p>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress3" src="/Content/img/products/dress6home.jpg"></a>
                <div class="name">
                    <a href="">Floral Dress</a>
                </div>
                <div class="price">
                    <p>$500.00</p>
                </div>
            </div>
        </div>

        <!--
        <div class="col-md-4">
            <div class="product">
                <a href="product.html"><img alt="dress4" src="/Content/img/products/dress2home.jpg"></a>
                <div class="name">
                <a href="">Black Dress</a>
                </div>
                <div class="price">
                <p>$150.00</p>
                </div>

            </div>
        </div>	-->

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="newsletter clearfix">
                <h3>Newsletter</h3>
                <div>
                    <input type="text" name="email" class="email">
                    <input type="submit" value="Subscribe" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>